<div class="min">
    <a href="index .html"><img src="../assets/img/ppppppp.png" class="logoimg"></a>
    <!--<div class="nav" id="nav">-->
        <ul id="nav" style="margin-left: 284px;">
            <li class="slide1 liShow">
                <p><a href="shouji.html">手机</a> </p>
                <div class="item">
                    <ul class="clearfix">
                        <li><img src="assets/img/pic12.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic13.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic14.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic15.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic14.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic14.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic12.png"/><p>魅族15</p><p>1500起</p></li>
                        <li><img src="assets/img/pic15.png"/><p>魅族15</p><p>1500起</p></li>
                    </ul>
                </div>
            </li>
            <li class="slide1 liShow">
                <p><a href="shengxue.html">声学</a> </p>
                <div class="item">
                    <ul class="clearfix">
                        <li><img src="assets/img/pic5.png"/><p>魅族1EDFD耳机</p><p>132起</p></li>
                        <li><img src="assets/img/pic6.png"/><p>魅族1EDFD耳机</p><p>400起</p></li>
                        <li><img src="assets/img/pic6.png"/><p>魅族1EDFD耳机</p><p>234起</p></li>
                        <li><img src="assets/img/pic6.png"/><p>魅族1EDFD耳机</p><p>232起</p></li>
                        <li><img src="assets/img/pic10.png"/><p>魅族1EDFD耳机</p><p>342起</p></li>
                        <li><img src="assets/img/pic11.png"/><p>魅族1EDFD耳机</p><p>130起</p></li>
                        <li><img src="assets/img/pic5.png"/><p>魅族1EDFD耳机</p><p>140起</p></li>
                        <li><img src="assets/img/pic9.png"/><p>魅族1EDFD耳机</p><p>150起</p></li>
                    </ul>
                </div>
            </li>
            <li class="slide1 liShow">
                <p><a href="zhineng.html">智能</a> </p>
                <div class="item">
                    <ul class="clearfix">
                        <li><img src="assets/img/pic1.png"/><p>魅族1EDFD亲肤手机壳</p><p>100起</p></li>
                        <li><img src="assets/img/pic2.png"/><p>魅族1EDFD亲肤手机壳</p><p>10起</p></li>
                        <li><img src="assets/img/pic3.png"/><p>魅族1EDFD亲肤手机壳</p><p>100起</p></li>
                        <li><img src="assets/img/pic2.png"/><p>魅族1EDFD亲肤手机壳</p><p>00起</p></li>
                        <li><img src="assets/img/pic53.png"/><p>魅族1EDFD亲肤手机壳</p><p>10起</p></li>
                        <li><img src="assets/img/pic3.png"/><p>魅族1EDFD亲肤手机壳</p><p>20起</p></li>
                        <li><img src="assets/img/pic1.png"/><p>魅族1EDFD亲肤手机壳</p><p>150起</p></li>
                        <li><img src="assets/img/pic1.png"/><p>魅族1EDFD亲肤手机壳</p><p>100起</p></li>
                    </ul>
                </div>
            </li>
            <li class="slide1 liShow">
                <p><a href="shenghuo.html">生活</a> </p>
                <div class="item">
                    <ul class="clearfix">
                        <li><img src="assets/img/pic3.png"/><p>魅族1EDFD收纳包</p><p>400起</p></li>
                        <li><img src="assets/img/pic50.png"/><p>魅族1EDFD收纳包</p><p>540起</p></li>
                        <li><img src="assets/img/pic51.png"/><p>魅族1EDFD收纳包</p><p>500起</p></li>
                        <li><img src="assets/img/pic52.png"/><p>魅族1EDFD收纳包</p><p>230起</p></li>
                        <li><img src="assets/img/pic2.png"/><p>魅族1EDFD收纳包</p><p>120起</p></li>
                        <li><img src="assets/img/pic5.png"/><p>魅族1EDFD收纳包</p><p>100起</p></li>
                        <li><img src="assets/img/pic51.png"/><p>魅族1EDFD收纳包</p><p>120起</p></li>
                        <li><img src="assets/img/pic3.png"/><p>魅族1EDFD收纳包</p><p>100起</p></li>
                    </ul>
                </div>
            </li>
            <li class="slide1">
                <p><a href="#">flyme</a> </p>
            </li>
            <li class="slide1">
                <p><a href="tetail.html">详情</a> </p>
            </li>
            <li class="slide1">
                <p><a href="#">社区</a> </p>
            </li>
            <li class="slide1 liShow">
                <p><a href="#">App下载</a> </p>
                <div class="joinus">
                    <img src="../assets/img/pic34.jpg">
                </div>
            </li>
           <ul class="nav-right">
               <li class="search">
                   <img src="../assets/img/index.png" alt="" style="width: 20px;height:20px;">
                   <input type="text"  placeholder="S魅族 16th">
               </li>
               <li class="usertent">
                   <p>
                   <!--<img src="../assets/img/nav1.png" class="logoimg">-->
                       <span class="iconfont">&#xe601;</span>
                   </p>
                   <div class="hoverShowSon">
                   <ul>
                       <li><a href="login.html">立即登陆</a></li>
                       <li><a href="register.html">立即注册</a></li>
                       <li><a href="#">我的订单</a></li>
                       <li><a href="#">M码通道</a></li>
                   </ul>
                   </div>
               </li>
               <li class="car">
                   <a href="car.html"><img src="../assets/img/cat.png" class="logoimg1" style="margin-left: 40px;"></a>
                   <i>0</i>
               </li>
           </ul>

        </ul>

</div>



