<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/font/iconfont.css">
</head>

<body>
    <div class="header">
        <div class="min">
            <a href="http://localhost:8080/index%20.html"><img src="../assets/img/ppppppp.png"></a>
        </div>
    </div>
    <div class="min">
        <img src="../assets/img/login.jpg">
    </div>
    <div class="login">
        <form class="register" onsubmit="return false">
            <div class="img"><img src="../assets/img/login1.png"></div>
            <div class="login-1">
                <a href="#">
                    <span>注册Flyme账号</span>
                </a>
            </div>
            <div class="login-pxy">
                <div class="selectBox">
                    <span>
                        <input type="text" value="+86" class="inp-cycode" />
                        <i class="iconfont">&#xe625;</i>
                    </span>
                    <input type="text" class="phone" value="手机号码">
                </div>
                <div class="container">
                    <div class="head">常用</div>
                    <ul>
                        <li>
                            <span>中国</span><b>+86</b>
                        </li>
                        <li>
                            <span>中国香港</span><b>+852</b>
                        </li>
                        <li>
                            <span>中国台湾</span><b>+886</b>
                        </li>
                        <li>
                            <span>中国澳门</span><b>+822</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                        <li>
                            <span>paa</span><b>+122</b>
                        </li>
                    </ul>
                </div>
                <!-- <input type="text" placeholder="请输入用户名" name="username" id="username"> -->
            </div>
            <div class="login-3">
                <input type="text" placeholder="输入密码" name="password" id="password">
            </div>
            <div class="outer">
                <div class="filter-box"></div>
                <span>
                    滑动解锁
                </span>
                <div class="inner">&gt;&gt;</div>
            </div>
            <div class="login-6">
                点击立即注册，即表示您同意并愿意遵守 <span style="color: aqua;">Flyme服务协议</span> 和 <span style="color: aqua;">法律声明</span>
            </div>
            <div class="login-4">
                <button name="login-btn">立即注册</button>
            </div>
            <div class="login-5">
                <a href="login.html">登陆</a>
            </div>
        </form>
    </div>
    <div class="min">
        <div>
            <ul class="footer-ul">
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>了解魅族</li>
                <li>简体中文</li>
            </ul>
        </div>
        <div class="footer-div">
            <p> ©2018 Meizu Telecom Equipment Co., Ltd. All rights
                reserved.&nbsp;&nbsp;&nbsp;&nbsp;粤ICP备13003602号合字B2-20170010营业执照法律声明粤公网安备 44049102496009 号</p>
            <span>
                <div class="img1">
                    <a href="#"><img src="../assets/img/11_03.png"></a>
                </div>
                <div class="img2">
                    <a href="#"><img src="../assets/img/11_05.png"></a>
                </div>
                <div class="img3">
                    <a href="#"><img src="../assets/img/11_07.png"></a>
                </div>
            </span>
        </div>
    </div>
</body>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/ajax1.0.js"></script>
<script src="../assets/js/register.js"></script>
<script src="../assets/js/jigsaw.js"></script>
<script>
    register.init('.register')
</script>
<script>
    jigsaw.init(document.getElementById('captcha'), function () {
        document.getElementById('msg').innerHTML = '注册成功！'
    })
</script>

</html>