<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/font/iconfont.css">
    <style>
       p{
           width: 50px;
           height: 50px;
           background: pink;
       }
       div{
           width: 20px;
           height: 30px;
           background: red;
       }
    </style>
</head>
<body>
    <p>fnihao </p>
    <div></div>
    <i class="iconfont p">&#xe60d;</i>
</body>
<script>
//      var count = 0;
//   $("p").click(function(){
//       $(this).toggleClass('div');
//   });
</script>
</html>