*{
    padding: 0;margin: 0;list-style: none;
}
.min{
    width: 1250px;
    margin: 0 auto;
}
.catr{
    width: 100%;
    height: 100px;
}
.catr img{
    margin-top: 20px;
    width: 10%;
    height: 5%;
}
.catr span{
    margin-left: 10px;
}